
@{
    ViewBag.Title = "Index";
}

<h2>喝水建議量</h2>

@using (Html.BeginForm("Index","water", FormMethod.Get)) { 
      <p>姓名：@Html.TextBox(name:"name")</p>
      <p>體重：@Html.TextBox(name: "weight")</p>
        
      
          <p>Hi,@(ViewBag.name),您的建議喝水量是：@(ViewBag.result) cc</p>
      

      <input type="submit" value="送出" />
}

