
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2><br />
    <div>
         <form>
               <div>     
                    <p>姓名：<input type="text"  name="username"><br /></p>
                    <p>帳號：<input type="text"  name="帳號"><br /></p>
                    <p>密碼：<input type="password" name="密碼"><br /></p>
               </div>

             <div>
                  <p>
                        性別：<input type="radio" name="gender" value="A" />男性
                        <input type="radio" name="gender" value="B" />女性<br />
                  </p>
             </div>

             <div>
                  <p>
                        興趣：<input type="checkbox" name="item" value="A" />游泳
                        <input type="checkbox" name="item" value="B" />閱讀
                        <input type="checkbox" name="item" value="C" />看電影
                  </p>
             <div/>

             <div>
                 <p>自我介紹：<textarea name="message" rows="5" cols="30"></textarea></p>
             </div>
         <input type="submit" name="submit">
         <input type="reset"><br />
         </form>
    </div>

